@charset "utf-8";
/* CSS Document */
body {
	background-color: lightgray;
}
h1 {
	color: red; 
	text-align: center; 
	font-size: 300%; 
	border: 2px solid Tomato;
	font-family: Impact;
}
p {
	background-color: tomato; 
	font-family: verdana; 
	color: white;
	border: 2px solid tomato;
	padding: 10px;
	margin: 15px;
}

